// Variables

// Project colors
$primary:             #cc577e;
$primary-light:       #ede1e5;
$light:               #f4eff1;
$dark:                #333;
$white:               #fff;

// Project variables
$logo-max-width:      150px;

// Bootstrap variables overrides
$body-color:                        $dark;
$link-color:                        $primary;
$link-decoration:                   none;
$link-hover-decoration:             underline;

$font-fallback:                     'Georgia', 'Times New Roman', system-ui, -apple-system, "Segoe UI", "Noto Sans", "Liberation Sans", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif:            'Baskerville', #{$font-fallback};
$font-size-root:                    1rem;
$font-size-base:                    1.125rem;

$line-height-base:                  1.2;

$h1-font-size:                      $font-size-root * 3;
$h2-font-size:                      $font-size-root * 3;
$h3-font-size:                      $font-size-root * 1.125;
$h4-font-size:                      $font-size-root;

$headings-font-family:              'Satisfy', #{$font-fallback};
$headings-font-weight:              400;

$spacer:                            $font-size-root;
$border-radius:$body-color          0;

$paragraph-margin-bottom:           $spacer * 1.5;

// Font Awesome settings
$fa-font-path:                      '../webfonts/fontawesome';

// Navs
$nav-link-padding-x:                0.5rem;
$nav-link-font-weight:              600;
$nav-link-color:                    $body-color;
$nav-link-hover-color:              $primary;

// Navbar settings
$navbar-nav-link-padding-x:         $spacer * 0.5;
$navbar-brand-margin-end:           $spacer;
$navbar-toggler-focus-width:        1px;
$navbar-light-color:                $body-color;
$navbar-light-hover-color:          $primary;

// Button settings
$input-btn-padding-x:         $spacer * 1.5;
$btn-font-weight:             600;

// Carousel
$carousel-control-color:             $dark;
$carousel-control-width:             $spacer * 4;
$carousel-control-opacity:           1;
$carousel-control-hover-opacity:     1;

// Form
$input-padding-y:                       $spacer * 0.5;
$input-padding-x:                       $spacer * 0.5;
$input-border-color:                    $primary-light;
$input-border-width:                    2px;