.footer {
  background: $primary-light;
  padding: $spacer 0;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }
}