.footer {
  background: $primary-light;
  padding: $spacer 0;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {

  }

  &__nav {

  }

  &__social {

  }
}